<div class="jumbotron">
    <h1 class="text-center">PicApp</h1>
</div>

<p class="alert alert-info" ng-show="mensagem.length"> {{mensagem}} </p>

<div class="row">
    <div class="col-md-12">
        <form>
            <div class="input-group">
                <span class="input-group-btn">
                    <a href="fotos/new" class="btn btn-primary">Nova Foto</a>
                </span>
                <input ng-model="filtro" ng-model-options="{debounce:500}" class="form-control" placeholder="filtrar">
            </div>
        </form>
    </div>
</div>

<div class="row row-eq-height">
    <!-- xx in fotos é puxa todos os objetos dentro do array fotos, nomeando-os xx-->
    <meu-painel class="col-md-3 painel-animado" ng-repeat="foto in fotos | filter: filtro" titulo="{{foto.titulo}}" url="{{foto.url}}">
        <img class="img-responsive center-block espaco-imagens" src="{{foto.url}}" alt="{{foto.titulo}}">

        <!--Chama a função editar com o identificador do objeto a ser removido-->
        <a href="fotos/edit/{{foto._id}}" class="btn btn-info btn-block margem-botoes">Editar</a>

        <!--Chama a função remover com o identificador do objeto a ser removido-->
        <meu-botao-perigo nome="remover" acao="remover(foto)"></meu-botao-perigo>

    </meu-painel>
</div>

<div class="jumbotron">
    <h1 class="text-center">Lista de Fotos:</h1>
    <meus-titulos class=" center-block text-center estilo"></meus-titulos>
</div>
